name: Python CI
on: [push, pull_request]
env:
  PLANEMO_ENABLE_POSTGRES_TESTS: 1
  PLANEMO_SKIP_GALAXY_CWL_TESTS: 1
  PLANEMO_TEST_WORKFLOW_RUN_PROFILE: 1
  PGPASSWORD: postgres
  PGHOST: localhost
  GIT_AUTHOR_NAME: planemo
  GIT_AUTHOR_EMAIL: planemo@galaxyproject.org
  GIT_COMMITTER_NAME: planemo
  GIT_COMMITTER_EMAIL: planemo@galaxyproject.org
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        tox-action:
          - lint
          - lint_docs
          - mypy
          - unit-quick
          #- unit-diagnostic-servebasic
          #- unit-diagnostic-servebasic-gx-2005
          #- unit-diagnostic-servebasic-gx-master
          - unit-diagnostic-servebasic-gx-dev
          #- unit-diagnostic-servetraining
          #- unit-diagnostic-servecmd
          #- unit-diagnostic-trainingwfcmd
          - unit-nonredundant-noclientbuild-noshed-gx-231
          - unit-nonredundant-noclientbuild-noshed-gx-250
          - unit-nonredundant-noclientbuild-noshed-gx-dev
          - unit-nonredundant-noclientbuild-noshed-nogx
          - unit-diagnostic-serveclientcmd
        include:
          - python-version: '3.13'
            tox-action: lint
          - python-version: '3.13'
            tox-action: mypy
          - python-version: '3.13'
            tox-action: unit-quick
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          submodules: true
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Test psql
        run: |
          psql --version  # Needs to be compatible with the postgres container image
          psql --tuples-only --username postgres -P pager=off --list
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install tox coveralls
      - name: Check system space
        run: |
          df
      - name: Test with tox
        run: |
          TOXENV=$(echo $TOXENV | sed 's/\.//') tox
        env:
          TOXENV: py${{ matrix.python-version }}-${{ matrix.tox-action }}
